html,body,div,span,img,p,ul,li,dl,dt,dd,input,a,h1,h2,h3,h4{margin: 0;padding: 0;list-style: none;border: 0;}
/*公共样式*/
/*字体图标声明*/
@font-face{
	
	font-family: 'xiao';
	
	src:	url('../fonts/icomoon.eot?fgueyp');
	src:	url('../fonts/icomoon.eot?fgueyp#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?fgueyp') format('truetype'),
		url('../fonts/icomoon.woff?fgueyp') format('woff'),
		url('../fonts/icomoon.svg?fgueyp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*字体图标声明结束*/
body{background: #E6E6FA;
}
.contenr{
	margin: auto 0;
	background: #fff;
}
.clearfix:after .cl{
	content: "";
	visibility: hidden;
	height: 0;
	display: block;
	clear: both;
}
.clear{clear: both;}
/*公共样式结束*/
/*logo样式*/


.head{
	position: relative;
	height: 10%;
	width:100%;
	position:fixed;
	top:0px;
	z-index:1000;
	background: #fff;	
	
}
.logo{	
	margin: 1%;
	float: left;
	height: 50%;
	width: 10%;
}
.logo img{
	width: 100px;
	height: 50px;
}
.box{
	width:35%;
	height: 50%;
	border-radius:18px;
	border: 1px solid;		
	color: #B0C4DE;	
	font-size: 12px;	
	margin: 10px;
	float: left;
	margin-left: 70px;

}
.box i{
	font-family: 'xiao';
	font-size:18px;
	margin-left:30%;
	
}
.fonts{
	font-family: 'xiao';
	font-size:24px;
	float:left;
	height: 80%;	
	margin: 10px;
	float: left;
	margin-left: 30px;
}


.slides ul{
	width: 320px;
	list-style:none;
	margin: 0px;
	
}
.slides ul{
	position: relative;
	z-index: 1;
}
.slides ul li{
	position: absolute;
	 left: 0;
	 top: 0;
}
.slides ol{
	position: absolute;
	z-index: 2;
	right: 10px;
	bottom: 1px;
}
/*.slides ol li{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	color: #ccc;
	border: 1px solid #f60;
	background: #333;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	

}*/
.slides ol li{
	width: 10px;
	height: 10px;
	border: 1px solid;
	border-radius: 50%;
	float: left;
	color: black;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}
.slidesli{
	background: #fff;

}
.slides{
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 270px;

}
.slides img{
	width: 300px;
	height: 270px;
}
.table{
	width: 100%;
	height: 30%;
	text-align: center;
}
.list td{
	font-family: 'xiao';
	font-size: 48px;
	color: red;
	height: 50px;
}
.list{
	width: 100%;
	height: 30%;
	line-height: 30%;
}
.listfonts td{
	font-size: 16px;
	color: #3c3c3c;
}
.span1 img{
	width: 40%;
	height: 20%;
	margin-top: 30px;
}
.span2 img{
	width: 60%;
	height: 20%;
	margin-top: 30px;
}
.content_list{
	width: 100%;
	height: 80%;
	border: 1px solid #ccc;
	list-style: none;
	position: relative;
	margin-top: 150px;
}

.left1{
	width: 50%;
	height:70%;
	float: left;
	border: 1px solid #ccc;	
	box-sizing:border-box;		
}
.left1 .hot{
	background: red;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid;
	border-radius:15px;	 
	margin-left:80%;
	transform:rotate(35deg)
}
.left1 p{
	font-size: 16px;
	color:#3c3c3e;
}
.left1 img{
	width: 100%;
	height: 60%;
	margin: 10px 10px;
}
.right1{
	width: 50%;
	height:35%;
	float: left;
	border: 1px solid #ccc;
	box-sizing:border-box;
	text-align: center;
}
.right1 .hot{
	background: green;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;	
	border: 1px solid;
	border-radius:15px;		
	transform:rotate(35deg)
}
.right2{
	width: 50%;
	height:35%;
	float: left;
	border: 1px solid #ccc;
	box-sizing:border-box;
}

.right1 p{
	font-size: 14px;
	color: #3c3c3e;
}
.right1 ul li{
	float: left;
	
}
.right1 ul li img{
	width:70px;
	height: 70px
}
.right2 .hot{
	background: red;
	color: #fff;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid;
	border-radius:15px;
	 margin-top: 10px;
	margin-left: 330px;
	transform:rotate(35deg)
}
.right2 p{
	font-size:14px;
	color: #3c3c3e;
}
.right2 ul li{
	float: left;
	
}
.right2 ul li img{
	width: 70px;
	height: 70px;

}
.listtwo {
	width: 100%;
	height: 100%;
	
}
.listtwo ul li{
	width: 50%;
	float: left;
}
.left2{
	width: 100%;
	height:35%;
	background: #fff;
	float: left;
	border: 1px solid #ccc;
	float: left;
	box-sizing:border-box;
	list-style: none;
	
	
}
/*.left2 .hot{
	background: red;
	color: #fff;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid;
	border-radius:15px;
	 margin-top: 10px;
	margin-left: 330px;
	transform:rotate(35deg)
}*/
.left2 p{
	font-size: 16px;
	color: #3c3c3e;
}
.left2 img{
	width: 90px;
	height: 90px;
}
.top{
	font-family: 'xiao';
	font-size:32px;
	right: 0;
	float: right;
	margin-top:25%;
	cursor: pointer;
}